@model Clinique2000_Core.ViewModels.ApprobationVM

@if (Model.Param == "clinique")
{
    <h1 class="text-center">Liste des cliniques à approuver</h1>
}
@if (Model.Param == "utilisateur")
{
    <h1 class="text-center">Liste des utilisateurs à approuver</h1>
}
@if (Model.Param == "cliniquesrefusees")
{
    <h1 class="text-center">Liste des cliniques refusées</h1>
}