@model Clinique2000_Core.ViewModels.ApprobationVM

@if (Model.Param == "clinique")
{
    <h1 class="text-center">@Locals["ListeCliniqueApprouver"]</h1>
}
@if (Model.Param == "utilisateur")
{
    <h1 class="text-center">@Locals["ListeUtilisateurApprouver"]</h1>
}
@if (Model.Param == "cliniquesrefusees")
{
    <h1 class="text-center">@Locals["ListeCliniqueRefusee"]</h1>
}