@model IEnumerable<Clinique2000_Core.Models.PlageHoraire>

<div class="container px-0">
    @* <h2>Plages Horaires</h2> *@
    <table id="dataTable" class="table pb-0 mb-0">
        @* id="tablatest" *@
        <thead>
            <tr>
                <th>Heure</th>
                <th>Consultations</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plageHoraire in Model)
            {
                <tr>
                    <td class="pb-0">@plageHoraire.HeureDebut.ToString("hh\\:mm")</td>
                    <td class="pb-0">
                       
                            @if (plageHoraire.Consultations != null && plageHoraire.Consultations.Count > 0)
                            {
                                <partial name="_PartialAjouterDesConsultations" for="@plageHoraire.Consultations" />

                            }
                       
                    </td>

                   @* <td class="pb-0">
                        <a asp-controller="ListeAttente" asp-action="ModifierPlageHoraire" asp-route-id="@plageHoraire.PlageHoraireID"><i class="far fa-edit"></i>  class="btn btn-primary" </a>
                        <a asp-controller="ListeAttente" asp-action="SupprimerPlageHoraire" asp-route-id="@plageHoraire.PlageHoraireID"> <i class="fas fa-trash-alt"></i>  class="btn btn-danger" </a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>