@model Clinique2000_Core.ViewModels.ListeAttenteVM

@{
    Layout = "_LayoutSalleAttente";
}

@{
    int contador = 1;
}


<section id="salle attente">
    @* <div class="listeattente-data">
    <div class="row d-flex mb-2 justify-content-center align-content-center text-center">
    <div class="col-md-12 mt-5">
    @*<h1 class="text-center justify-content-center">Liste d'attente</h1>*@
    <h1 class="text-center justify-content-center d-block my-5">Clinique Sante pour tous</h1>@*Model.ListeAttente.Clinique.NomClinique*@
    <div class="container">
        <table class="table mb-2 pb-0 mx-5" id="dataTable">
            <thead>
                <tr class="row-7">
                    <th class="col-1 text-center me-5">
                        Ordre
                    </th>
                    <th class="col-2 text-start ms-5">
                        Patient
                    </th>

                    <th class="col-2 text-center">
                        Heure de consultation
                    </th>
                </tr>
            </thead>

            <tbody>



                @foreach (var consultation in Model.Consultations)

                {
                <tr class="row-7">
                    <td class="col-1 text-center me-5">
                        @(contador++)
                    </td>

                    <td class="col-2 text-start ms-5">
                        @consultation.Patient.Prenom @consultation.Patient.Nom[0].
                    </td>

                    <td class="col-2 text-center">
                        @consultation.HeureDateDebutPrevue.ToString("HH:mm")
                    </td>
                </tr>

                }

            </tbody>

        </table>

    </div>
</section>