@model Critique

<h1 style="text-align: center; margin-top: 40px; margin-bottom: 40px">Critique pour la @ViewData["ClinicName"]</h1>

<form asp-action="CreateCritique" method="post" style="text-align: center;">
    <input type="hidden" asp-for="CliniqueId" />

    <h3 style="text-align: center; margin-top: 20px">Donnez-nous une note sur 5 étoiles!</h3>
    <div class="rate">
        <input type="radio" id="star5" name="Note" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="Note" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="Note" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="Note" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="Note" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>

    <h3 style="text-align: center; margin-top: 20px">Titre de la critique</h3>
    <input type="text" asp-for="Titre" placeholder="Écrivez le titre de votre critique" style="margin-bottom: 20px" />

    <h3 style="text-align: center;">Comment était votre expérience?</h3>
    <textarea asp-for="Texte" rows="5" cols="33" style="margin-bottom: 40px">
        Écrivez votre expérience...
    </textarea>

    <button type="submit" class="button-green-action" style="margin-bottom: 40px;">Envoyer</button>
</form>