<h1 style="text-align: center; margin-top: 40px; margin-bottom: 40px">Critique pour la @ViewData["ClinicName"]</h1>

<h2 style="text-align: center">Donnez nous une note sur 5 étoiles!</h2>

<div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
</div>

<h3 style="text-align: center; margin-top: 20px">Titre de la critique</h3>
<form style="text-align: center; margin-bottom: 20px">
    <input type='text' placeholder='Écrivez le titre de votre critique' />
</form>

<h3 style="text-align: center;">Comment était votre expérience?</h3>
<form style="text-align: center; margin-bottom: 40px">
    <textarea id="revueClinique" name="revueClinique" rows="5" cols="33">
        Écrivez votre expérience...
    </textarea>
</form>

<button class="button-green-action" style="margin-bottom: 40px; text-align: center; margin-left:47%;">Envoyer</button>