<button type="submit" asp-area="Admin" asp-controller="admin" asp-action="ExportDataAsyncPOST" class="btn btn-primary">Download Backup</button>


<form asp-area="Admin" asp-controller="Admin" asp-action="ExportDataAsyncPOST" method="post">
    <button type="submit" class="btn btn-primary">Download Backup</button>
</form>
