

<form action="/ListeAttente/Create" method="post">
    <label for="isOuverte">Ouverte :</label>
    <input type="checkbox" id="isOuverte" name="IsOuverte"><br>

    <label for="dateEffectivite">Date d'effectivité :</label>
    <input type="date" id="dateEffectivite" name="DateEffectivite"><br>

    <label for="heureOuverture">Heure d'ouverture :</label>
    <input type="time" id="heureOuverture" name="HeureOuverture"><br>

    <label for="heureFermeture">Heure de fermeture :</label>
    <input type="time" id="heureFermeture" name="HeureFermeture"><br>

    <label for="nbMedecinsDispo">Nombre de médecins disponibles :</label>
    <input type="number" id="nbMedecinsDispo" name="NbMedecinsDispo"><br>

    <label for="dureeConsultation">Durée de la consultation (minutes) :</label>
    <input type="number" id="dureeConsultation" name="DureeConsultationMinutes"><br>

    <label for="cliniqueId">ID de la clinique :</label>
    <input type="number" id="cliniqueId" name="CliniqueID"><br>

    <input type="submit" value="Créer">
</form>
