@model ListeAttente
@{
    Layout = "_Layout";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col col-lg-10 col-xl-9">

                    <form asp-area="Clinique" asp-controller="ListeAttente" asp-action="Edit" method="post" enctype="multipart/form-data" class="m-4">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="ListeAttenteID">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group mb-3">
                            <label asp-for="IsOuverte" class="form-label">Disponible pour réservation :</label>
                            <input asp-for="IsOuverte" type="checkbox" class="form-check-input">
                            <span asp-validation-for="IsOuverte" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="DateEffectivite" class="form-label">Date d'effectivité :</label>
                            <input asp-for="DateEffectivite" type="date" class="form-control form-control-lg">
                            <span asp-validation-for="DateEffectivite" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="HeureOuverture" class="form-label">Heure d'ouverture :</label>
                            <input asp-for="HeureOuverture" type="time" class="form-control form-control-lg">
                            <span asp-validation-for="HeureOuverture" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="HeureFermeture" class="form-label">Heure de fermeture :</label>
                            <input asp-for="HeureFermeture" type="time" class="form-control form-control-lg">
                            <span asp-validation-for="HeureFermeture" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="NbMedecinsDispo" class="form-label">Nombre de médecins disponibles :</label>
                            <input type="number" asp-for="NbMedecinsDispo" class="form-control form-control-lg" min="0" placeholder="Entrez le nombre de médecins disponibles">
                            <span asp-validation-for="NbMedecinsDispo" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="CliniqueID" class="form-label">ID de votre clinique :</label>
                            <input asp-for="CliniqueID" type="number" class="form-control form-control-lg" min="0" placeholder="Entrez l'ID de votre clinique">
                            <span asp-validation-for="CliniqueID" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn-create btn-lg">Modifier</button>
                        <button type="reset" class="btn-reinitialiser btn-lg">Réinitialiser</button>
                    </form>

                    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

                </div>
            </div>
        </div>
    </main>
</div>
