<!DOCTYPE html>
<html lang="fr">
<head>
    <!--Métadonnées-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinique2000</title>
    <meta name="description" content="Clinique 2000 est un projet à but non lucratif qui a comme objectif de complémenter le service existant Bonjour-santé et qui permettra de s’inscrire à distance pour une clinique sans rendez-vous.">
    <meta name="keywords" content="Clinique 2000, projet, santé, rendez-vous médical, inscription à distance, Bonjour-santé, non lucratif, clinique sans rendez-vous">
    <meta name="author" content="EO4 (Misleidy, Alexei, Jordan, Thi Anh)">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version="true" />
    @*<link rel="stylesheet" type="text/css" href="~/Clinique2000_MVC.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header >
        <div class="container d-flex align-items-center justify-content-start">
            <div class="container-fluid  row justify-content-start align-items-center">
                <a class="col-4" asp-area="" asp-controller="Home" asp-action="Index"> <img class="h-logo ms-3 " src="/images/logo.png" alt="logo"></a>
                <div class="col-2">
                </div>
                <div class="col-2">
                </div>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  col-4 align-items-center  mb-3">
            @* box-shadow border-bottom*@
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end ">
                    <ul class="navbar-nav  align-items-baseline justify-content-end  flex-grow-1 footer-links white-link">
                        <li class="nav-item mx-3">
                            @* <a class="p1" asp-area="" asp-controller="Home" asp-action="Index">Nous</a> *@
                                <a class="p1" href="/Home/Index/#Apropos">À propos</a>
                        </li>
                        <li class="nav-item mx-3">
                                <a class="p1" href="/Home/Index/#NousJoindre">Nous Joindre</a>
                        </li>
                        <li class="nav-item mx-3">
                                <a class="p1" asp-area="Clinique" asp-controller="ListeAttente" asp-action="Index">Clinique</a>
                        </li>
                        <li class="nav-item mx-3">
                                <a class="p1" asp-area="" asp-controller="Home" asp-action="Create">Patient</a>
                        </li>
                    </ul>
                </div>
            
        </nav>
            </div>
        </div>
    </header>
    @* <div class="container"> *@
       @*  <main role="main" class="pb-3"> *@
            @RenderBody()
      @*   </main> *@
@*     </div> *@

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Clinique2000_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <footer class="container-fluid mt-5 ">
        <div class="container ">
     
            <div class="row text-center align-items-start pt-3 ">
                <div class="col-12 col-md-3 text-center text-md-start p-0">
                    <a asp-controller="Home" asp-action="Index"> <img src="~/Images/Logo.png" alt="logo footer" class="img-fluid"></a>
                </div>
                @* <div class="col-12 col-md-3 col-lg-3">
                   
                @*     <div class="divider-2 mb-3 "></div><!--devider linear gradient cian--> 
                </div> *@
                <div class="col-12 col-md-3 text-lg-start pt-0">
                    <h5 class="">Liens Rapides</h5>
                    <ul class="mb-3 px-3 footer-links white-link">
                        
                        <li><a class="p1 " asp-controller="#" asp-action="#">Page d'accueil</a></li>
                        <li><a class="p1 " asp-controller="#" asp-action="#">Lorem Ipsum</a></li>
                        <li><a class="p1 " asp-controller="#" asp-action="#">Lorem Ipsum</a></li>
                        <li><a class="p1 " asp-controller="#" asp-action="Privacy">Confidentialité</a></li>
                    </ul>
                </div>
              @*   <div class="col-12 col-md-4 col-lg-3 ">
                    <p class="p2">
                        <i class="fa-solid fa-envelope fa-xl icons-rs"></i>
                        Contact <br>
                        office@clinique.ca
                    </p>
                    <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->
                </div> *@
                <div class="col-12 col-md-4 col-lg-4 text-start">
                    <h5 class="">Nous Joindre</h5>
                    <p class="p2">
                        <i class="fa-solid fa-location-dot fa-xl icons-rs"></i>
                        Adresse <br>
                    <p class="ps-5">
                        945 Ch. de Chambly,
                        Longueuil, J4H 3M6
                    </p>
                    </p>
                    <p class="p2">
                        <i class="fa-solid fa-envelope fa-xl icons-rs"></i>
                        Contact <br>
                    <p class="ps-5">
                        office@clinique.ca
                    </p>
                    </p>
                    <p class="p2">
                        <span class="mb-0"><i class="fa-solid fa-calendar fa-xl icons-rs"></i></span>
                    Rendez-vous <br>
                    <p class="ps-5">
                        rdv@clinique.ca
                    </p>
                    </p>
                   @*  <div class="divider-2 mb-3 "></div><!--devider linear gradient cian--> *@
                </div>
                <div class="col-12 col-md-2 text-center text-md-end mt-3 m-md-0 pt-2">
                    <nav>

                        <ul class="social">
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="https://www.Instagram.com/"><i class="fa-brands fa-instagram "></i></a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <hr/>
            <div class="row ">
                <div class="col">
                    <p class="p3 text-end">Copyright 2023-2024 © Clinique2000. Tous droits réservés.</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/63463ff979.js" crossorigin="anonymous"></script>@*Fontawesome*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
