@*DropDown Ajouter*@
@*@if (this.User.IsInRole(AppConstants.AdminRole))*@

@*if (this.User.Identity.IsAuthenticated) *@

@{
    var btnTitre1 = "Liste des cliniques";
    var btnTitre2 = "Inscrire une clinique";
    var btnTitre3 = "Cliniques à proximité";
    var btnTitre4 = "Listes d'attente";

        <a class="nav-link custom-nav-link" style="color:white" data-bs-toggle="dropdown" aria-expanded="false">
            Clinique
        <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-center">

            <li >
                <a class="dropdown-item" asp-area="Cliniques" asp-controller="Cliniques" asp-action="Index">
                    <div class="row">
                        <div class="col text-start">
                            @btnTitre1
                        </div>
                        <div class="col text-end">
                            <i class="fa-solid fa-list-ul"></i>
                        </div>
                    </div>              
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Cliniques" asp-controller="Cliniques" asp-action="Create">
                    <div class="row">
                        <div class="col text-start">
                            @btnTitre2
                        </div>
                        <div class="col text-end">
                            <i class="fa-solid fa-notes-medical"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Cliniques" asp-controller="Cliniques" asp-action="IndexCliniquesAProximite">
                    <div class="row">
                        <div class="col text-start">
                            @btnTitre3
                        </div>
                        <div class="col text-end">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Cliniques" asp-controller="ListeAttente" asp-action="Index">
                    <div class="row">
                        <div class="col text-start">
                            @btnTitre4
                        </div>
                        <div class="col text-end">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                    </div>
                </a>
            </li>
         
        </ul>

}