@*DropDown Ajouter*@
@*@if (this.User.IsInRole(AppConstants.AdminRole))
{*@

<a class="nav-link custom-nav-link" style="color:white" data-bs-toggle="dropdown" aria-expanded="false">
            Clinique
            <i class="fa-solid fa-square-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">

        <li>
            <a class="dropdown-item" asp-area="Cliniques" asp-controller="Cliniques" asp-action="Index">
                Liste des cliniques&nbsp;
                <i class="fa-solid fa-list-ul"></i>
            </a>
        </li>
         
        </ul>

@*}*@
