@inject Clinique2000_Services.IServices.IClinique2000Services _service;
@using System.Security.Claims;

@if (this.User.Identity.IsAuthenticated)
{
    var btnTitre1 = "Liste des patients";
    var btnTitre2 = "Créer le dossier";
    var btnTitre3 = "Mon profil";
    var btnTitre4 = "";
    var user = await _service.patient.GetUserAuthAsync();
    EmployesClinique? employe = await _service.employesClinique.VerifierSiUserAuthEstEmploye(user.Email);
    var patient = await _service.patient.GetPatientParUserIdAsync(user.Id);

    <a class="nav-link custom-nav-link" style="color:white" data-bs-toggle="dropdown" aria-expanded="false">
       Patient
            <i class="fa-solid fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end text-center">
            @if (this.User.IsInRole(AppConstants.SuperAdminRole) @* || employe != null *@)
            {
                <li>
                    <a class="dropdown-item" asp-area="Patients" asp-controller="Patients" asp-action="Index">
                        <div class="row">
                            <div class="col text-start">
                                @btnTitre1
                            </div>
                            <div class="col text-end">
                                <i class="fa-solid fa-people-group"></i>
                            </div>
                        </div>
                    </a>
                </li>
            }
        
  
            @if (patient!=null)
            {
                <li>
                    <a class="dropdown-item" asp-area="Patients" asp-controller="Patients" asp-action="Details" asp-route-id=@patient.PatientId>
                        <div class="row">
                            <div class="col text-start">
                                @btnTitre3
                            </div>
                            <div class="col text-end">
                                <i class="fa-solid fa-notes-medical"></i>
                            </div>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a class="dropdown-item" asp-area="Patients" asp-controller="Patients" asp-action="Create">
                        <div class="row">
                            <div class="col text-start">
                                @btnTitre2
                            </div>
                            <div class="col text-end">
                                <i class="fa-solid fa-hospital-user"></i>
                            </div>
                        </div>
                    </a>
                </li>
            }
    </ul>

}
