@*DropDown Ajouter*@
@*@if (this.User.IsInRole(AppConstants.AdminRole))*@
@if (this.User.Identity.IsAuthenticated)
{

<a class="nav-link custom-nav-link" style="color:white" data-bs-toggle="dropdown" aria-expanded="false">
            Patient
            <i class="fa-solid fa-square-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-center">

            <li>
            <a class="dropdown-item" asp-area="Patients" asp-controller="Patients" asp-action="Index">
                Liste des patients&nbsp;
                <i class="fa-solid fa-people-group"></i>
                </a>
            </li>
            <li>
            <a class="dropdown-item" asp-area="Patients" asp-controller="Patients" asp-action="Create">
                Créer le dossier&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-hospital-user"></i>
                </a>
            </li>
         
        </ul>

}
