<button type="reset" class="smBtn button-white-action">
    <span id="btntextReset">
        @Locals["Reset"]Réinitialiser &nbsp;
    </span>
    <i class="fa-solid fa-arrow-rotate-left"></i>
</button>