@model string 

<button type="submit" class="button-green-action">
    <span id="btntextCreate">
        @Model &nbsp;
        </span>
    <i class="fa-solid fa-clipboard-check"></i>
</button>
