@using System.Security.Claims

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="hero-home" data-aos=" fade-up">
<div class=" container-fluid hero-home-content">
    <div class="hero-text">
        <h1 class=" text-left">Votre santé, notre priorité :<br>Clinique2000 à votre écoute.</h1>

        <h4 class="text-left">
            Clinique2000 vous relie aux meilleurs soins médicaux près de chez vous en quelques clics.
        </h4>
    </div>

    <div class="hero-home-buttons p-0 ms-0">

        <a asp-area="Patients" asp-controller="Patients" asp-action="Create" id="rv" class="btn btn-create ms-0 px-3">
            Inscrivez-vous pour un Rendez-Vous
        </a>

            <a asp-area="Cliniques" asp-controller="ListeAttente" asp-action="TestReservationSuccess" id="rv" class="ms-0 px-3 btn-create">
            test reservation
        </a>

    </div>

</div>

</section><!-- End Hero -->
@* <section id="Apropos"  class=" d-flex align-items-center justify-content-left  mb-2 ">
<div class="container">
<main role="main" class="pb-3 ">
<div class="container-fluid">
<div class="row justify-content-left text-left ">
<div class="col col-lg-10 col-xl-9">
<h1>À propos  </h1>
</div>
</div>
</div>
</main>
<h1 class="display-4 h0">Welcome</h1>
</div>
</section><!-- A propos -->
<section id="NousJoindre" class="d-flex align-items-center justify-content-left  mb-2 ">
<div class="container">
<main role="main" class="pb-3 ">
<div class="container-fluid">
<div class="row justify-content-left text-left ">
<div class="col col-lg-10 col-xl-9">
<h1>Nous joindre  </h1>
</div>
</div>
</div>
</main>
</div>
</section> *@<!-- Nous Joindre -->