@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 h0">Welcome</h1>
    <p class="p1">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a asp-controller="Patient" asp-action="Index" class="btn btn-primary form-control">Log in</a>

@if (Context.User.Identity.IsAuthenticated)
{
    <br />
    <h3>Welcome @User.Identity.Name</h3>
    <br />
    <a asp-controller="Patient" asp-action="Logout">Logout</a>
}
