@using System.Security.Claims;
@using Clinique2000_Utility.Enum;
@model Patient;




@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estConnecte = User.Identity.IsAuthenticated;
    var estPatient = Model != null;
    var aRendezVous = false;

}

<section class="hero-home" data-aos="fade-up">
    <div class="container-fluid hero-home-content">
        <div class="hero-text">
            <h1 class="text-left">Votre santé, notre priorité :<br>Clinique2000 à votre écoute.</h1>
            <h4 class="text-left">
                Clinique2000 vous relie aux meilleurs soins médicaux près de chez vous en quelques clics.
            </h4>
        </div>

        <div class="hero-home-buttons p-0 ms-0">
            @if (!estConnecte)
            {
                <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Url.Content("~/")" method="post" class="form-horizontal">
                    <div>
                        <button type="submit" class="btn btn-create ms-0 px-3" name="provider" value="Google" title="Log in using your Google account">
                            Vous Connecter  
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </button>
                    </div>

                </form>
                <p>Vous pouvez facilement vous connecter a notre systeme avec un simple clic <br />
                    avec votre compte gmail. Simple et secour. </p>
            }
            else if (estConnecte && !estPatient)
            {  <a asp-area="Patients" asp-controller="Patients" asp-action="Create" class="btn btn-create ms-0 px-3">
                    Inscrivez-vous pour un Rendez-Vous
                </a>
            }
            else if (estConnecte && estPatient)
            {
               
                aRendezVous = Model.Consultations.Any(c=>c.StatutConsultation==StatutConsultation.EnAttente);
               
                @if (!aRendezVous )
                {
                    <a asp-area="Cliniques" asp-controller="Cliniques" asp-action="IndexCliniquesAProximite" class="btn btn-create ms-0 px-3">
                    Prendre un Rendez-Vous
                   </a>
                }
                else if (aRendezVous)
                {
                    <a asp-area="Patients" asp-controller="Patients" asp-action="Details"  asp-route-id="@Model.PatientId" class="btn btn-create ms-0 px-3">
                       Voir mon Rendez-Vous
                    </a>
                }
            }
           
        </div>
    </div>


    @*<a asp-area="Cliniques" asp-controller="ListeAttente" asp-action="TestReservationSuccess" id="rv" class="ms-0 px-3 btn-create">
    test reservation
    </a>*@
</section>


@* @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="hero-home" data-aos=" fade-up">
<div class=" container-fluid hero-home-content">
    <div class="hero-text">
        <h1 class=" text-left">Votre santé, notre priorité :<br>Clinique2000 à votre écoute.</h1>

        <h4 class="text-left">
            Clinique2000 vous relie aux meilleurs soins médicaux près de chez vous en quelques clics.
        </h4>
    </div>

    <div class="hero-home-buttons p-0 ms-0">
        <a asp-area="Patients" asp-controller="Patients" asp-action="Login" id="rv" class="btn btn-create ms-0 px-3">
            Connectez-vous
        </a>
        <a asp-area="Patients" asp-controller="Patients" asp-action="Create" id="rv" class="btn btn-create ms-0 px-3">
            Inscrivez-vous pour un Rendez-Vous
        </a>
        <a asp-area="Patients" asp-controller="Patients" asp-action="Login" id="rv" class="btn btn-create ms-0 px-3">
            Prendre un Rendez-Vous
        </a>
        <a asp-area="Patients" asp-controller="Patients" asp-action="Create" id="rv" class="btn btn-create ms-0 px-3">
            Voir votre Rendez-Vous
        </a>

            @* <a asp-area="Cliniques" asp-controller="ListeAttente" asp-action="IndexlisteSalleAttente" asp-route-listeAttenteID=1 id="rv" class="ms-0 px-3 btn-create">
                Voir Liste Salle d'attente'
            </a> *@
    </div>

</div>

</section><!-- End Hero -->
@* <section id="Apropos"  class=" d-flex align-items-center justify-content-left  mb-2 ">
<div class="container">
<main role="main" class="pb-3 ">
<div class="container-fluid">
<div class="row justify-content-left text-left ">
<div class="col col-lg-10 col-xl-9">
<h1>À propos  </h1>
</div>
</div>
</div>
</main>
<h1 class="display-4 h0">Welcome</h1>
</div>
</section><!-- A propos -->
<section id="NousJoindre" class="d-flex align-items-center justify-content-left  mb-2 ">
<div class="container">
<main role="main" class="pb-3 ">
<div class="container-fluid">
<div class="row justify-content-left text-left ">
<div class="col col-lg-10 col-xl-9">
<h1>Nous joindre  </h1>
</div>
</div>
</div>
</main>
</div>
</section> *@<!-- Nous Joindre --> 