<a /*asp-area ="Cliniques" asp-controller="ListeAttente" asp-action="AnnulerConsultation" asp-route-PatientId="@Model?.PatientId" * / class="smBtn button-red-action form-control" style="width:auto">
    Annuler
</a>
