@model EmployesClinique

@{
    var btnText = "Enregistrer les modificcations";
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="row justify-content-around text-center" style="margin-bottom:40px">
        <div class="col col-lg-10 col-xl-9">
            <div>
                <h1 class="h0" style="margin-top:50px">Renseignements Obligatoires</h1>
                <div class="divider-2 mb-3 "></div><!--devider linear gradient cian-->

                <p class="p1">
                    Veuillez compléter ces informations <br />
                    <span class="p3">Les champs marqués d'un astérisque (<span class="champs-obligatoires">*</span>) doivent être renseignés.</span>
                </p>
            </div>
            <form asp-controller="EmployesCliniques" asp-action="Edit" method="post" enctype="multipart/form-data" class="text-start p1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeCliniqueID" />

                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="EmployeCliniqueNom" class="form-label mt-3 mb-1">Nom <span class="champs-obligatoires">*</span></label>
                        <input asp-for="EmployeCliniqueNom" class="form-control" />
                        <span asp-validation-for="EmployeCliniqueNom" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="EmployeCliniquePrenom" class="form-label mt-3 mb-1">Prénom <span class="champs-obligatoires">*</span></label>
                        <input asp-for="EmployeCliniquePrenom" class="form-control" />
                        <span asp-validation-for="EmployeCliniquePrenom" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-md-8 col-lg-7 col-xl-6 ">
                        <label asp-for="EmployeCliniqueCourriel" class="form-label mt-3 mb-1">Courriel <span class="champs-obligatoires">*</span></label>
                        <input asp-for="EmployeCliniqueCourriel" class="form-control" />
                        <span asp-validation-for="EmployeCliniqueCourriel" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 mb-2 mt-4">
                        <partial name="_SubmitButtonPartial" model="@btnText" />
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 my-2">
                        <partial name="_ResetButtonPartial" />
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col col-md-8 col-xl-6 my-2">
                        <a asp-action="Details" asp-route-id="@Model.EmployeCliniqueID">Retour au profil</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
