/*Importation de polices externes :googleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto,
.col-xl-auto {
    border: 2px dotted rgb(252, 134, 222);
}

.row {
    border: 1px solid rgb(39, 255, 93);
}
    */
/*----------------Style de police-------------*/
/* H0 Montserrat 48*/
* {
    min-width: 0;
}

.h0 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #023373;
}
/* H0 Montserrat 38*/
.h-logo {
    /*  font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #E9EFF2;
    text-decoration: none;*/
    width: 180px;
    height: 130px;
}

.hero-home {
    background: url(../images/hero-bg.jpg) no-repeat top center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-bottom: 0px;
}

/* H1 Montserrat 38*/
h1 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 44px;
    color: #023373;
}

/* H2 Montserrat 34*/
h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #023373;
}

/* H3 Montserrat 22*/
h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #023373;
}

/* H2 Montserrat 20*/
h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #023373;
    text-decoration: none;
}

/* P1 Mukta 16 */
.p1 {
    font-family: Mukta, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #132640;
    text-decoration: none;
}

/* P2 Mukta 14 */
.p2 {
    font-family: Mukta, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #132640;
}

/* P3 Mukta 12 */
.p3 {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #445E81;
}

/* P4 Mukta 10 */
.p4 {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #132640;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin-bottom: 60px;*/
    background-color: #fff;
    height: 100%;
    min-height: 100dvh;
    margin: 0;
}

header {
    background: linear-gradient(to left,#2567bd, #fff) no-repeat;
}

    /*footer {
    background: linear-gradient(to right,#2567bd, #fff) no-repeat;
    margin-top:0px;
}

    footer img {
        width: 100px;
        height: 60px;
    }

    footer p.p2 {
        color: #fff;
    }
*/
    header a.p1 {
        color: #fff;
        font-size: 14px;
        /*  font-weight:bold;*/
    }

/*List elemnts*/
ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
/* Start : lignes décoratives pour la décoration des 
    titres et autres éléments textuels
    ================================================== 
*/
.divider-1 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0.14%, #418EF2 49.62%, rgba(255, 255, 255, 0.00) 100.14%);
    margin-right: 0px;
    width: auto;
    height: 1px;
    position: relative;
}

divider-2 {
    background: /* gradient can be an image */
    linear-gradient( to left, rgba(255, 201, 32, 0) 0%, #76E2FF 49.48%, rgba(255, 201, 32, 0) 100% ) bottom left no-repeat;
    background-size: 100% 3px;
    margin-right: 0px;
    width: auto;
    height: 1px;
    position: relative;
}
/*END - Divider 
    ================================================== 
*/

/*Btn reseaux social footer
    ================================================== 
*/
.social li {
    /*   display: inline-block;
    margin-right: 10px;*/
}

    .social li a {
        /* display: block;*/
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        color: black;
        font-size: 16px;
        -webkit-transition: all all 0.5s ease-out 0s;
        -moz-transition: all all 0.5s ease-out 0s;
        -ms-transition: all all 0.5s ease-out 0s;
        -o-transition: all all 0.5s ease-out 0s;
        transition: all all 0.5s ease-out 0s;
    }

        .social li a:hover,
        .social li a:focus {
            background-image: -moz-linear-gradient(0deg, #132640 0%, #66D9A3 100%);
            background-image: -webkit-linear-gradient(90deg, #132640 0%, #66D9A3 100%);
            background-image: -ms-linear-gradient(0deg, #132640 0%, #66D9A3 100%);
            color: white;
            box-shadow: 2.5px 4.33px 15px 0px rgba(170, 165, 154, 0.4);
        }

.footer-links {
    margin: 0;
}

    .footer-links li + li {
        padding-top: 10px;
    }

    .footer-links li a {
        position: relative;
    }

        .footer-links li a:after {
            content: "";
            position: absolute;
            width: 0px;
            left: auto;
            right: 0;
            bottom: 0;
            height: 1px;
            transition: ease all 0.35s;
            background: #66D9A3;
        }

        .footer-links li a:hover:after {
            width: 100%;
            left: 0;
            right: auto;
        }

.white-link a {
    color: #E9EFF2;
}

.note-frame {
    background: #FFFFFF;
    color: black;
    font-family: Roboto;
}

    .note-frame h0,
    .note-frame h1,
    .note-frame h2,
    .note-frame h3,
    .note-frame h4,
    .note-frame .p1,
    .note-frame .p2,
    .note-frame .p3,
    .note-frame .p4 {
        color: black;
    }

/*END-Btn reseaux social footer
    ================================================== 
*/

/*--paramètres pour les icônes de bas de page--
    ================================================== 
*/
.icons-rs {
    color: #66D9A3;
    height: 25px;
    min-width: 25px;
    position: relative;
    padding: 20px;
    align-items: flex-start;
}

/* ---- bouton -formulaire----
    ================================================== 
*/
.btn-create {
    border-radius: 20px;
    gap: 3px;
    align-items: flex-start;
    padding: 6px 15px 6px 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: black;
    order: 0;
    background-color: #66D9A3;
    align-items: center;
    position: relative;
    border: none;
    cursor: pointer;
}

#rv {
    align-self: baseline;
    margin-left: 10px;
    padding: 20px 10px;
}

.btn-create:hover {
    color: #115E48;
    background-color: #95BFB8
}

.btn-create:active {
    border: 2px solid #00DEA4;
    background-color: #1C8C6C;
    color: white;
}


.hero-home a {
    margin-top: 20px;
}

.btn-reinitialiser {
    border-radius: 20px;
    padding: 6px 15px 6px 15px;
    align-items: flex-start;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

    .btn-reinitialiser:hover {
        background-color: #95BFB8;
        color: #115E48;
    }

    .btn-reinitialiser:active {
        background-color: #1C8C6C;
        border: 1px solid #00DEA4;
        color: white;
    }


.btn-secondaire {
    border-radius: 20px;
    padding: 6px 15px 6px 15px;
    align-items: flex-start;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #9FE2FF;
    border: none;
    cursor: pointer;
}

    .btn-secondaire:hover {
        background-color: #95BFB8;
        color: #115E48;
    }

    .btn-secondaire:active {
        background-color: #1C8C6C;
        border: 1px solid #00DEA4;
        color: white;
    }


.btn-supprimmer {
    border-radius: 20px;
    padding: 6px 15px 6px 15px;
    align-items: flex-start;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #9FE2FF;
    border: none;
    cursor: pointer;
}

    .btn-supprimmer:hover {
        background-color: #FF5151;
        color: #115E48;
    }

    .btn-supprimmer:active {
        background-color: #1C8C6C;
        border: 1px solid #00DEA4;
        color: white;
    }




/*Liste d attente*/
#heroDetails {
    position: relative;
    /*width: 100vw;
    height: 50vh;*/
    overflow: visible;
 /*   background: url(../images/hero3.jpg) no-repeat;*/
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    padding: 0;
    width: 100%;
    height: fit-content;
    /* background-size: cover;
    margin-bottom: 0px;*/
}

.heure-medecins {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: first baseline;
    gap: 10px;
    margin: 20px;
    padding: 10px 50px;
    /*background-color: #fff;*/
    border-radius: 10px;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.1);*/
    height: 50%;
    text-align: center;
    color: #2567bd;
    font-weight: bold;
    font-size: 20px;
}

    .heure-medecins h4 {
        margin: 0px;
        padding: 0px;
        color: #2567bd;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .heure-medecins p {
        margin: 0px;
        flex: 1;
    }

    .heure-medecins .heure-actuelle {
        margin: 0px;
        flex: 1;
        font-size: 30px;
        font-weight: bold;
    }

.heure-date-liste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.generer-plages-horaires {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0px;
    padding: 10px;
}


    .generer-plages-horaires .btn {
        margin: 0px 10px;
        padding: 10px 10px;
        text-align: center;
    }


    .generer-plages-horaires button {
        margin: 0px 10px;
        padding: 10px 10px;
        text-align: center;
        line-height: 20px;
    }


#heroDetails h4, p, hr {
    /*position: absolute;*/
    color: #2567bd;
    text-align: center;
}

#mask {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.listeattente-data {
    position: relative;
    z-index: 3;
    width: 100%;
    color: white;
    height: 100%;
}

.hero-home {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:50px auto;
    
    gap: 20px;
    width: fit-content;
}

.hero-home .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.hero-home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

.hero-home-buttons a {
    margin: 0px;
    padding: 10px;
    
}


#heroDetails hr {
    position: relative;
    width: 8rem;
    height: 1px;
    /* background-color: #2567bd;*/
}

#heroDetails .row > .col > div {
    border-radius: 10px;
    background-color: rgba(255, 0, 0,0.7);
    height: 100%;
}

#watch {
    /*border-radius: 10px;*/
    /*box-shadow: 0 5px 15px rgba(0,0,0,0.1);*/
    padding: 10px;
    margin: 0px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    z-index: 999;
    position: relative;
    border-radius: 10px;
}

.heureActuelle {
    /*background-color: rgb(124, 111, 208,  0.2);*/
    background-color: rgb(255,255,255, 0.7);
    border-radius: 30px;
    text-align: center;
    color: #2567bd;
}

table td {
    padding-bottom: 0px;
    padding-left: 10px;
}

.card-details {
    /* background-color: rgb(124, 111, 208, 0.3);*/
    background-color: rgb(255,255,255, 0.7);
    border-radius: 30px;
    /*margin: 20px;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    height: fit-content;
    padding: 20px;
    text-align: center;
}

    .card-details p {
        padding: 10px;
        /*color: #fff;*/
        color: #2567bd;
        font-weight: bold;
        font-size: 20px
    }

    .card-details div {
        padding-left: 10px;
        color: #2567bd;
        font-size: 40px;
        font-weight: bold;
    }

.btn-action {
    border-radius: 30px;
}

.my-icon {
    color: grey;
    cursor: pointer;
    font-size: 1.75rem !important;
}

    .my-icon:hover {
        color: blue !important;
    }

.custom-nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .custom-nav-link:hover,
    .custom-nav-link:focus {
        text-decoration: none;
        color: white;
    }

        .custom-nav-link:hover::after,
        .custom-nav-link:focus::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 2px;
            background-color: green;
            transition: all 0.3s ease-in-out;
        }


/*Footer*/
.footer-col {
    height: fit-content;
    /* background: linear-gradient(to left,#2567bd, #fff) no-repeat;*/
    background-color: #023b6d;
    padding: 50px 50px;
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 0px;
    row-gap: 10px;
    flex: 1;
}

#footer-hr {
    margin: 0px;
    height: 1px;
    background-color: #fff;
}

.footer-col a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffb3;
}



.footer-col .logo {
    width: 90px;
    height: 50px;
}

#clinique {
    width: 90px;
    height: 50px;
    margin-left: 20px;
}
/*.footer-col div {
    flex: 1;
}*/

.footer-col #col-social {
    display: flex;
    justify-content: center;
}

.footer-col #col-nousjoindre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #023b6d;
    margin-bottom: 20px;
}

#col-nousjoindre h5 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#col-nousjoindre p {
    margin: 0px;
    flex: 1;
}

#col-social a {
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    margin: 0 5px;
    height: 48px;
    width: 48px;
    text-align: center;
}

    #col-social a:hover {
        padding: 10px;
        border-radius: 50%;
        color: #66D9A3;
        margin: 0 5px;
        height: 48px;
        width: 48px;
        text-align: center;
    }

.white-link a {
    color: #E9EFF2;
}

/*copyright*/
#copyright {
    background: #2567bd;
    padding: 0 50px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.champs-obligatoires {
    color: red;
}
/****Confirmation de rv */
#confirmation {
    background-color: #f2f2f2;
    width: 100%;
    margin: 30px;
    padding: 50px;
    text-justify: auto;
    /* text-align: center;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateZ(100);
    opacity: 0;
    transition: transform 0.9s ease-out, opacity 0.9s ease-out;
}

    #confirmation .h0 {
        display: flex;
        justify-content: center;
        text-align: center;
    }


    #confirmation p {
        text-align: start;
        font-size: 1.2em;
        color: #333;
        padding: 10px 50px;
    }

.confirmation-bouttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*eviter quils prenent 100width*/
    padding: 10px;
}

    .confirmation-bouttons .btn {
        margin-top: 10px;
        padding: 10px;
    }

#confirmation .adresse, .details-rdv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    margin: 20px;
    padding: 10px 50px;
}



/**Responsive*/
@media screen and (max-width: 768px) {
    .hero-home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px auto;
        gap: 20px;
        width:100dvw;
    }

    .hero-home-content .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 50px auto;
        gap: 20px;
        width: 100dvw;
    }
    .hero-home-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*align-items: center;*/
        gap: 10px;
        margin: 20px;
        padding: 10px;
        width: 100dvw;
    }


    .footer-col {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #col-nousjoindre {
        margin-left: 120px;
    }

    .confirmation-bouttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

        .confirmation-bouttons .btn {
            margin-top: 10px;
            padding: 10px;
        }

    #confirmation h1 {
        width: 100%;
        padding: 10px;
        border-radius: 0px;
    }

    #confirmation {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
    }


    .heroDetails {
        background: url(../images/hero-bg.jpg) no-repeat top center;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        margin-bottom: 0px;
    }

    .heure-date-liste {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px
    }

    .heure-medecins {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100dvw;
        padding: 0px;
        margin: 0px;
    }

    #heroDetails .card-details {
        width: 100dvw;
        padding: 0px;
        flex: 1;
    }

    .listeattente-data h1 {
        display: flex;
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        padding: 0px;
        left: 0;
        flex: 1;
    }

    .heure-medecins h4 {
        margin: 0px;
        padding: 0px;
        color: #2567bd;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .generer-plages-horaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
        padding: 10px;
    }
}

@media screen and (max-width: 1554px) {
    #col-nousjoindre {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}
.champs-obligatoires  {
    color: red;
}
/*Login form*/

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.google{
    width:25px;
    height:25px;
}
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: #023373;
    --bs-popover-header-bg: #132640;
    --bs-popover-header-color: white;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
.btnRound {
    border: none; 
    background-color: transparent; 
    padding: 0;
    cursor: pointer; 
}
.img-error {
    max-width: 20rem;
    margin-top:40px;
    margin-bottom :15px;
}