@model Clinique2000_Core.Models.ApiKey

<!DOCTYPE html>
<html>
<head>
    <title>API Key</title>
</head>
<body>
    <h1>Your API Key</h1>
    <p>Here is your API key:</p>
    <div>
        <strong>Key:</strong> @Model.Key
    </div>
</body>
</html>

@section Scripts {
    <script type="text/javascript">
        function copyToClipboard() {
            var apiKey = document.getElementById("apiKey");
            apiKey.select();
            apiKey.setSelectionRange(0, 99999); // Pour les appareils mobiles
            document.execCommand("copy");
            alert("Clé API copiée dans le presse-papier !");
        }
    </script>
}